<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta th:replace="fragments/header::[/meta]" />
<link th:replace="fragments/header::[/[@type^='text']]" rel="stylesheet"
	type="text/css" media="all" href="../static/css/common.css" />
<title>机构注册</title>
</head>
<body>
	
	<br />

	<div class="container" id="depList"></div>


	<div id="myModal" class="modal fade" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel">
		<div id="depEdit"></div>
	</div>

	<div th:include="fragments/footer :: copy"></div>
	<script type="text/javascript">
		$(function() {
			//alert("Loaded");
			url = '/learn/guests';
			$("#depList").load(url);

		});

		function P(o) {
			//alert($(o).closest('td').prev().html());
			//alert($(o).parent().prev().html());

			/* $("#eddid").val($(o).closest('td').prev().prev().prev().prev().html());
			$("#edfname").val($(o).closest('td').prev().prev().prev().html());
			$("#edftype").val($(o).closest('td').prev().prev().html());
			$("#edbref").val($(o).closest('td').prev().html()); */

			//alert($(o).parent().parent().children().first().html());
			var did = $(o).parent().parent().children().first().html();
			url = '/learn/guests/edit/' + did;
			$('#myModal').modal('show');
			$("#depEdit").load(url);
		}
//这个已经取消了，不能传递纯空格。
		function Change() {
			url = '/learn/guests/edited/';
			url+=$("#eddid").val()+'/';
			url+=$("#edfname").val()+'/';
			url+=$("#edftype").val()+'/';
			url+=$("#edbref").val();
			
			$("#depBlock"+$("#eddid").val()).load(url);
			$('#myModal').modal('hide'); 
			
		}
	</script>
</body>


</html>