<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta th:replace="header::[/meta]" />
<link th:replace="header::[/[@type^='text']]" rel="stylesheet"
	type="text/css" media="all" href="../static/css/gtvg.css" />
<title>机构注册</title>
</head>
<body>
	<ul class="nav nav-tabs" th:include="header :: Navibar">
	</ul>
	<br />
	<br />

	<div id="depList"></div>


	<div id="myModal" class="modal fade" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel">
		<div id="depEdit"></div>
	</div>

	<div th:include="footer :: copy"></div>
</body>
<script type="text/javascript">
	$(function() {
		url = '/guests';
		$("#depList").load(url);
	});

	function P(o) {
		//alert($(o).closest('td').prev().html());
		//alert($(o).parent().prev().html());

		/* $("#eddid").val($(o).closest('td').prev().prev().prev().prev().html());
		$("#edfname").val($(o).closest('td').prev().prev().prev().html());
		$("#edftype").val($(o).closest('td').prev().prev().html());
		$("#edbref").val($(o).closest('td').prev().html()); */

		url = '/guests/edit';
		$('#myModal').modal('show');
		$("#depEdit").load(url);
	}
	
	function Change(){
		url = '/guests/edited';		
		$("#depBlock1").load(url);
		$('#myModal').modal('hide');
	}
</script>

</html>