<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<title>Spring Security Example</title>

<link rel="stylesheet" type="text/css" media="all"  
           th:href="@{/css/bootstrap.min.css}" />
<script type="text/javascript"  th:src="@{/js/jquery-1.11.3.min.js}"></script>
<script type="text/javascript"  th:src="@{/js/bootstrap.min.js}"></script>


</head>
<body>
	<div th:if="${param.error}">Invalid username and password.</div>
	<div th:if="${param.logout}">You have been logged out.</div>
	<div th:if="${#httpServletRequest.remoteUser != null}">
		<p th:text="${#httpServletRequest.remoteUser}">sample_user</p>
	</div>
	<form th:action="@{/login}" method="post">
		<div>
			<label> User Name : <input type="text" name="username" />
			</label>
		</div>
		<div>
			<label> Password: <input type="password" name="password" />
			</label>
		</div>
		<div>
			<input type="submit" value="Sign In" />
		</div>
		<input type="checkbox" name="remember-me" value="true"
			th:checked="checked" />
		<p>Remember me</p>
	</form>
</body>
</html>

