<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta th:replace="header::[/meta]" />
<link th:replace="header::[/[@type^='text']]"  rel="stylesheet" type="text/css" media="all"  href="../static/css/gtvg.css"/>
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/css/login.css}" />

<title>Spring Security Example</title>


</head>
<body>
	<div class="container">
		<div th:if="${param.error}">Invalid username and password.</div>
		<div th:if="${param.logout}">You have been logged out.</div>
		<div th:if="${#httpServletRequest.remoteUser != null}">
			<p th:text="${#httpServletRequest.remoteUser}">sample_user</p>
		</div>
		<form class="form-signin" th:action="@{/login}" method="post">
			<h2 class="form-signin-heading">请登录</h2>
			<input type="text" id="username" name="username" class="form-control"
				placeholder="用户名" required="required" autofocus="autofocus" th:value="admin" /> 
			<input
				type="password" id="password" name="password" class="form-control"
				placeholder="密码" required="required" th:value="111"/>
			<div class="checkbox">
				<label> <input type="checkbox" name="remember-me" value="true"
				th:checked="checked" />
					记住我
				</label>
			</div>			
			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
			<br/>
			<div class="row">
			<div class="col-xs-6"><a th:href="@{/orgreg}">注册一个机构</a></div>
			<div class="col-xs-6"><a th:href="@{/userreg}">注册一个用户</a></div>
			</div>
		</form>
	</div>
<div th:include="footer :: copy"></div>
</body>
</html>

