<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta th:replace="header::[/meta]" />
<link th:replace="header::[/[@type^='text']]"  rel="stylesheet" type="text/css" media="all"  href="../static/css/gtvg.css"/>

<title>机构注册</title>
</head>
<body>
	<div class="container">
		<h1>A user registration page</h1>
	</div>
	
	<div th:include="footer :: copy"></div>
</body>
</html>