<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta th:replace="header::[/meta]" />
<link th:replace="header::[/[@type^='text']]" rel="stylesheet"
	type="text/css" media="all" href="../static/css/gtvg.css" />

<title>机构注册</title>
</head>
<body>
	<form>
		<span class="subtitle">Guest list form</span>
		<div class="listBlock">
			<div class="search-block">
				<input type="text" id="searchSurname" name="searchSurname" /> <br />
				<label for="searchSurname" th:text="#{search.label}">Search
					label:</label>
				<button id="searchButton" name="searchButton"
					onclick="retrieveGuests()" type="button" th:text="#{search.button}">Search
					button</button>
			</div>

			<!-- Results block -->
			<div class="container" id="resultsBlock"></div>
		</div>
	</form>

	<div th:include="footer :: copy"></div>
	<script type="text/javascript">
		function retrieveGuests() {
			var url = '/guests';

			if ($('#searchSurname').val() != '') {
				url = url + '/' + $('#searchSurname').val();			
			}
			
			$("#resultsBlock").load(url);
			
		}
	</script>
</body>
</html>