<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script type="text/javascript"  th:src="@{/js/jquery-1.11.3.min.js}"></script>
<script type="text/javascript"  th:src="@{/js/bootstrap.min.js}"></script>
<script  type="text/javascript"  th:src="@{/js/common.js}"></script>
<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/common.css}" />
<ul th:fragment="Navibar" class="nav nav-tabs">		
		<li th:each="func:${powerlist}"><a th:href="@{${func.url}}" th:text="${func.fname}">Home</a></li>
		
</ul>

